flow.json
[
    {
        "id": "e9c2333c5527ce81",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "525cd2c70143bff5",
        "type": "mqtt-broker",
        "name": "17_mqtt_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "870153f80ff36022",
        "type": "ui_tab",
        "name": "17",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "817db5f41545d3dc",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d84a2c02745b8599",
        "type": "ui_group",
        "name": "bureau",
        "tab": "870153f80ff36022",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d87213aabf59d8a",
        "type": "ui_group",
        "name": "terras",
        "tab": "870153f80ff36022",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9bf68ba5f5d3824f",
        "type": "ui_group",
        "name": "atelier",
        "tab": "870153f80ff36022",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1c7dec507b690dd",
        "type": "telegram bot",
        "botname": "ed17h_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "e7df2de42142b237",
        "type": "mqtt out",
        "z": "e9c2333c5527ce81",
        "name": "17_bureau_ledstrip",
        "topic": "cmnd/17_bureau_ledstrip/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "525cd2c70143bff5",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "cab375f1a2710854",
        "type": "ui_button",
        "z": "e9c2333c5527ce81",
        "name": "ledstrip werkbank",
        "group": "d84a2c02745b8599",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "ledstrip werkbank",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "e7df2de42142b237"
            ]
        ]
    },
    {
        "id": "14537993fde1fb4d",
        "type": "mqtt out",
        "z": "e9c2333c5527ce81",
        "name": "17_kot_buitenlicht",
        "topic": "cmnd/17_kot_buitenlicht/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "525cd2c70143bff5",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "0b2c03d04757c5d7",
        "type": "ui_button",
        "z": "e9c2333c5527ce81",
        "name": "buitenverlichting",
        "group": "9bf68ba5f5d3824f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "buitenverlichting",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "833e33938f736dc7"
            ]
        ]
    },
    {
        "id": "fd2a088e2c187677",
        "type": "mqtt out",
        "z": "e9c2333c5527ce81",
        "name": "17_terras_buitenlicht",
        "topic": "cmnd/17_terras_buitenlicht/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "525cd2c70143bff5",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "386716bf3f88bfc1",
        "type": "ui_button",
        "z": "e9c2333c5527ce81",
        "name": "",
        "group": "8d87213aabf59d8a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "terrasverlichting",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "833e33938f736dc7"
            ]
        ]
    },
    {
        "id": "833e33938f736dc7",
        "type": "bigtimer",
        "z": "e9c2333c5527ce81",
        "outtopic": "17_kot_buitenlicht/POWER",
        "outpayload1": "on",
        "outpayload2": "off",
        "name": "Timer",
        "comment": "",
        "lat": "51.20",
        "lon": "4.45",
        "starttime": "5004",
        "endtime": "1439",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": "60",
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "fd2a088e2c187677",
                "14537993fde1fb4d"
            ],
            [],
            []
        ]
    },
    {
        "id": "7aa92694f36ff292",
        "type": "telegram command",
        "z": "e9c2333c5527ce81",
        "name": "",
        "command": "/b",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d1c7dec507b690dd",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 60,
        "wires": [
            [
                "cab375f1a2710854"
            ],
            []
        ]
    },
    {
        "id": "7913a54267e400d7",
        "type": "telegram command",
        "z": "e9c2333c5527ce81",
        "name": "",
        "command": "/k",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d1c7dec507b690dd",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "0b2c03d04757c5d7"
            ],
            []
        ]
    },
    {
        "id": "9bc70351aa1a946b",
        "type": "telegram command",
        "z": "e9c2333c5527ce81",
        "name": "",
        "command": "/t",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d1c7dec507b690dd",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "386716bf3f88bfc1"
            ],
            []
        ]
    }
]